/*=-footer-=*/
footer {
  color: #fff;
  background-attachment: fixed;
  background-color: #222;
  background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png);
  background-size: cover;
  background-position: bottom;
}
footer p {
  color: #ccc;
  font-family: "roboto", sans-serif;
}
footer a {
  color: #ccc;
  font-family: "roboto", sans-serif;
}
.social-pet li {
  display: inline-block;
  margin-right: 10px;
}
.social-pet li a {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  display: block;
  line-height: 35px;
  background-color: #3a5a95;
  color: #fff;
  font-family: "roboto", sans-serif;
}
.social-pet li:nth-child(2) a {
  background-color: #57aced;
}
.social-pet li:nth-child(3) a {
  background-color: #dd4f43;
}
.social-pet li:nth-child(4) a {
  background-color: #6b27b2;
}
.social-pet li a:hover {
  background-color: #0141a2;
  font-family: "roboto", sans-serif;
}
.social-pet li a:hover i {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.recent-post li {
  display: block;
  color: #ccc;
  margin-bottom: 25px;
  font-family: "roboto", sans-serif;
}
.recent-post li label {
  float: left;
  border: 2px solid #ccc;
  padding: 1px 7px;
  text-align: center;
  font-family: "roboto", sans-serif;
}
.recent-post li label span {
  color: #fff;
  font-family: "roboto", sans-serif;
}
footer .input-group-addon {
  background-color: #0141a2;
  padding: 10px;
}
.f-address li {
  display: inline-block;
  font-family: "roboto", sans-serif;
}
.f-address li i {
  color: #2995de;
  font-size: 18px;
  font-family: "roboto", sans-serif;
}
.f-address li a {
  color: #ccc;
  font-family: "roboto", sans-serif;
}
/*=-Copyright-=*/
.copyright {
  background-color: #111;
  padding: 12px 0;
  font-size: 14px;
  font-family: "roboto", sans-serif;
}
