.section-app {
  background: #0173ef;
  margin-top: 10px;
}

.section-app .games-content {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
}

.section-app .games-content .games-gard {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  height: 300px;
  width: 210px;
  background: white;
  border-radius: 0.5px;
}

.section-app .games-content .games-gard .games-image {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  top: 5px;
  padding-top: 0px;
  margin-bottom: 0px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.03),
    0 0 0 2px rgba(58, 58, 58, 0.993), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  height: 300px;
}

.section-app .games-content .games-gard .games-image img {
  display: inline-block;
  height: 300px;
  width: 210px;
}

.section-app .games-content .games-gard .games-image i {
  font-weight: 500;
  font-size: 0.75rem;
  color: grey;
  left: -60px;
  top: -22.5px;
  position: relative;
}

.section-app .games-content .games-gard:hover {
  transform: scale(1.1);
}

.section-app .games-content .next-more {
  position: relative;
  padding-left: 90%;
}

.section-app .games-content .next-more i {
  color: white;
  border-width: 30px;
  font-size: 3rem;
}

.section-app .games-content .next-more i:hover {
  transform: scale(1.2);
}

.section-app .games-content .games-gard .games-image p {
  position: absolute;
  display: none;
  background: black;
  color: white;
  width: 212px;
  left: -1px;
  margin-top: -320px;
  border-radius: 3px;
  font-family: "roboto", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  height: 30px;
  text-align: center;
  padding: 7.5px;
}

.section-app .games-content .games-gard:hover p {
  display: inline-block;
}

.section-games-hit {
  background: white;
  margin-top: 10px;
}

.section-games-hit .games-hit-content {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 700px;
  overflow: hidden;
}

.section-games-hit .games-hit-content .games-gard {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  height: 200px;
  width: 150px;
  background: white;
  border-radius: 0.5px;
}

.section-games-hit .games-hit-content .games-gard .games-image {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  top: 5px;
  padding-top: 0px;
  margin-bottom: 0px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.03),
    0 0 0 2px rgba(58, 58, 58, 0.993), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  height: 200px;
}

.section-games-hit .games-hit-content .games-gard .games-image img {
  display: inline-block;
  height: 200px;
  width: 150px;
}

.section-games-hit .games-hit-content .games-gard .games-image i {
  font-weight: 500;
  font-size: 0.75rem;
  color: grey;
  left: -40px;
  top: -22.5px;
  position: relative;
}

.section-games-hit .games-hit-content .games-gard:hover {
  transform: scale(1.1);
}

.section-games-hit .games-hit-content .next-more {
  position: relative;
  padding-left: 90%;
}

.section-games-hit .games-hit-content .next-more i {
  color: white;
  border-width: 30px;
  font-size: 3rem;
}

.section-games-hit .games-hit-content .next-more i:hover {
  transform: scale(1.2);
}

.section-games-hit .hit-label {
  padding-top: 20px;
  left: 50px;
  position: absolute;
  font-size: 1.2rem;
  font-family: "roboto", sans-serif;
  color: rgb(92, 92, 92);
}

.section-games-hit .games-hit-content {
  padding-top: 35px;
}

.section-app .game-label {
  padding-top: 30px;
  left: 50px;
  position: absolute;
  font-size: 1.2rem;
  font-family: "roboto", sans-serif;
  color: white;
}

.section-app .pagination-games {
  display: inline-block;
}

.list-group {
  margin-top: 5px;
}

.list-more {
  margin-top: 30px;
}

.list-more .label-group {
  color: rgb(95, 95, 95);
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

.label-games {
  color: rgb(95, 95, 95);
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  padding-top: 30px;
}

.list-more .list-group img {
  margin-left: -10px;
  margin-right: 25px;
  height: 30px;
  width: 30px;
}

.list-more .list-group span {
  color: rgb(92, 92, 92);
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  overflow: hidden;
}

.list-more .list-group p {
  color: rgb(92, 91, 91);
  font-size: 0.8rem;
  padding-top: 2.5px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.list-more .list-group .list-content {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: -5px;
  margin-bottom: -15px;
  margin-right: -30px;
  height: 50px;
}

.list-more .list-group .list-content .list-text {
  box-sizing: border-box;
  display: inline-block;
  width: 90%;
  margin-left: 10px;
  margin-bottom: 0px;
}

.list-more .list-group .list-content .list-image {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 0;
  position: absolute;
  margin-bottom: 0px;
  left: 3px;
}

.list-more-content {
  margin-bottom: 0px;
  height: 50px;
  overflow: hidden;
  margin-bottom: -1px;
}

.section-games-hit .side-bar .games-gard {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  height: 200px;
  width: 150px;
  background: white;
  border-radius: 0.5px;
  position: absolute;
  left: -30px;
  margin-top: 140px;
}

.section-games-hit .side-bar .games-gard .games-image {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  top: 5px;
  padding-top: 0px;
  margin-bottom: 0px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.03),
    0 0 0 2px rgba(58, 58, 58, 0.993), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  height: 200px;
}

.section-games-hit .side-bar .games-gard .games-image img {
  display: inline-block;
  height: 200px;
  width: 150px;
}

.section-games-hit .side-bar .games-gard .games-image i {
  font-weight: 500;
  font-size: 0.75rem;
  color: grey;
  left: 0px;
  top: -22.5px;
  position: relative;
}

.section-games-hit .side-bar .games-gard:hover {
  transform: scale(1.1);
}
