.section-content .cont2 .program-list {
  margin-top: 47px;
}

.section-content .cont2 .program-list .btn-program {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 17.5px;
}

.section-content .cont2 .program-list .btn-program button {
  font-size: 1.2rem;
  border-width: 0px;
  background: white;
  width: 65%;
  border-radius: 10px;
  color: rgb(92, 92, 92);
  font-family: "Roboto", sans-serif;
}

.section-content .cont2 .program-list .program-content {
  margin-bottom: 0px;
  height: 120px;
  border-width: 1px;
  margin-bottom: 20px;
  border-radius: 1.5px;
  overflow: hidden;
}

.section-content .cont2 .program-list .program-list-content {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: -5px;
  margin-bottom: -15px;
  margin-right: -30px;
  height: 120px;
  width: 100%;
}

.section-content .cont2 .program-list .program-list-content .program-list-text {
  padding-left: 20%;
  margin-bottom: 0px;
}

.section-content
  .cont2
  .program-list
  .program-list-content
  .program-list-text
  p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: rgb(92, 91, 91);
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
}

.section-content
  .cont2
  .program-list
  .program-list-content
  .program-list-text
  i {
  font-weight: 500;
  font-size: 0.75rem;
  position: absolute;
}

.section-content
  .cont2
  .program-list
  .program-list-content
  .program-list-text
  sub {
  margin-left: 5px;
  font-weight: 500;
  font-size: 0.75rem;
}

.section-content
  .cont2
  .program-list
  .program-list-content
  .program-list-text
  button {
  position: absolute;
  right: 6px;
  bottom: 6px;
}

.section-content
  .cont2
  .program-list
  .program-list-content
  .program-list-image {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  top: 0.5px;
  padding-top: -20px;
  position: absolute;
  margin-bottom: 0px;
}

.section-content
  .cont2
  .program-list
  .program-list-content
  .program-list-image
  img {
  margin-left: -20px;
  height: 120px;
  width: 120px;
  top: 0.5px;
}

.section-content .program-list .program-list-content span {
  color: rgb(92, 92, 92);
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  overflow: hidden;
}

.section-content .program-list .program-list-content p .program-list-image {
  color: rgb(92, 91, 91);
  font-size: 0.8rem;
  padding-top: 2.5px;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.section-content
  .program-list
  .program-list-content:hover
  .program-list-image
  img {
  transform: scale(1.05);
}

.section-content .cetagories-list {
  margin-top: 44px;
  font-family: "roboto", sans-serif;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
}
.section-slid {
  padding-top: 30px;
}

.section-slid .slid .carousel-crad {
  margin-top: 20px;
  margin-bottom: 25px;
  height: 100px;
  width: 250px;
  justify-content: space-between;
  border-radius: 5px;
}

.section-slid .slid .carousel-crad img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.section-slid .slid .carousel-crad .gard-content p {
  width: 120px;
  font-weight: 0.5rem;
  position: absolute;
  margin-top: -90px;
  left: 45%;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;

  color: rgb(92, 91, 91);
  font-size: 0.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.section-slid .slid .carousel-crad .gard-image {
  left: -15px;
}

.section-slid .slid .carousel-crad span {
  width: 100px;
  background: rgb(74, 161, 74);
  font-weight: 1rem;
  font-size: 0.9rem;
  color: white;
  position: absolute;
  margin-top: 0;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 5px;
}

.section-slid .slid .carousel-crad:hover span {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  width: 260px;
  overflow: hidden;
  align-content: center;
  margin-left: -5px;
  text-align: center;
}

.section-slid .slid .carousel-crad:hover img {
  transform: scale(1.1);
}

.list-group {
  margin-top: 5px;
}

.list-more {
  margin-top: 30px;
}

.list-more .label-group {
  color: rgb(95, 95, 95);
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

.label-games {
  color: rgb(95, 95, 95);
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  padding-top: 30px;
}

.list-more .list-group img {
  margin-left: -10px;
  margin-right: 25px;
  height: 50px;
  width: 50px;
}

.list-more .list-group span {
  color: rgb(92, 92, 92);
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  overflow: hidden;
}

.list-more .list-group p {
  color: rgb(92, 91, 91);
  font-size: 0.8rem;
  padding-top: 2.5px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.list-more .list-group .list-content {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: -5px;
  margin-bottom: -15px;
  margin-right: -30px;
  height: 80px;
}

.list-more .list-group .list-content .list-text {
  box-sizing: border-box;
  display: inline-block;
  width: 90%;
  margin-left: 10%;
  margin-bottom: 0px;
}

.list-more .list-group .list-content .list-image {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 0;
  position: absolute;
  margin-bottom: 0px;
  left: 0;
}

.list-more-content {
  margin-bottom: 0px;
  height: 70px;
  overflow: hidden;
}

.label-last {
  color: rgb(95, 95, 95);
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  top: 18px;
  position: absolute;
}

.section-content .cont1 .label-cet {
  color: rgb(95, 95, 95);
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  padding-left: 20px;
  top: 18px;
  position: absolute;
}

.section-content .btn-more-game {
  right: 35px;
  margin-bottom: 200px;
  position: absolute;
  border-radius: 3px;
  bottom: 200px;
}

.section-content .list-games {
  margin-top: -10px;
  overflow: hidden;
  display: inline-block;
}

.section-content .games-gard {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px;
  height: 140px;
  width: 90px;
  background: white;
  border-radius: 0.5px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.section-content .games-gard .games-image {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  box-shadow: inset 0 -1em 1em rgba(0, 0, 0, 0.03),
    0 0 0 2px rgba(58, 58, 58, 0.993), 0.1em 0.1em 0.02em rgba(0, 0, 0, 0.3);
  height: 140px;
}

.section-content .games-gard .games-image img {
  display: inline-block;
  height: 140px;
  width: 90px;
}

.section-content .games-gard .games-image i {
  font-weight: 500;
  font-size: 0.75rem;
  color: grey;
  left: 2px;
  top: -22.5px;
  position: relative;
}

.section-content .games-gard:hover {
  transform: scale(1.05);
}

.section-content .list-games .label-group {
  color: rgb(95, 95, 95);
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

.section-content .list-games .game-content a {
  height: 300px;
}

.list-games {
  margin-bottom: 0px;
  height: 380px;
  overflow: hidden;
  border-width: 0px;
  margin-bottom: -1px;
  border-radius: 1.5px;
  border-width: 1px;
  display: inline-block;
}

.section-content .games-gard a {
  position: absolute;
  width: 90px;
  height: 150px;
}

.section-footer {
  margin-top: 15px;
}

.section-app .games-content .games-gard:hover {
  transform: scale(1.1);
}

.section-content .next-more {
  position: relative;
  padding-left: 85%;
  bottom: 0px;
}

.section-content .next-more i {
  color: gray;
  border-width: 0ex;
  font-size: 2rem;
}

.section-content .next-more i:hover {
  transform: scale(1.5);
}

.section-content .list-more .app-list a {
  margin-bottom: -1px;
}

.section-content .program-list-more a {
  margin-bottom: -1px;
}
