.list-group {
  margin-top: 5px;
}

.list-items {
  margin-top: 30px;
}

.list-items .label-group {
  color: rgb(92, 92, 92);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.list-items .list-group img {
  margin-left: -10px;
  margin-right: 25px;
  height: 50px;
  width: 50px;
}

.list-items .list-group span {
  color: rgb(92, 92, 92);
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  overflow: hidden;
}

.list-items .list-group p {
  color: rgb(92, 91, 91);
  font-size: 0.8rem;
  padding-top: 2.5px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.list-items .list-group .list-content {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: -5px;
  margin-bottom: -15px;
  margin-right: -30px;
  height: 80px;
}

.list-items .list-group .list-content .list-text {
  box-sizing: border-box;
  display: inline-block;
  width: 75%;
  margin-left: 22%;
  margin-bottom: 0px;
}

.list-items .list-group .list-content .list-image {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  margin-top: 0;
  position: absolute;
  margin-bottom: 0px;
}

.list-items a {
  margin-bottom: -1px;
}

.list-group-item {
  margin-bottom: 0px;
  height: 90px;
  overflow: hidden;
}

.btn-more {
  margin-top: 20px;
  margin-left: 85px;
  top: 50%;
  right: 50px;
  font-weight: 300;
  font-size: 0.9rem;
  width: 100px;
  font-family: "Roboto", sans-serif;
}

.section-content {
  margin-top: 50px;
  width: 100%;
}

.cont1 {
}

.cont4 {
}

.section-content .cont1 .cetagories-list {
  padding-top: 65px;
  position: absolute;
  width: 85%;
  border-radius: 0px;
}

.section-content .cont1 .cetagories-list a {
  padding-left: 12px;
  height: 50px;
  top: 0px;
  margin-bottom: -1px;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
}

.section-content .cont1 .cetagories-list a:hover {
  font-weight: bold;
}

.section-content .cont1 .cetagories-label {
  background: none;
  border: none;
  border-radius: 5px;
  width: 100px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  width: 70%;
  color: rgb(92, 92, 92);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  left: 10px;
  top: 35px;
}

.section-content .cont4 .games-list {
  padding-top: 65px;
  position: absolute;
  width: 87%;
  border-radius: 0px;
  padding-left: 5px;
}

.section-content .cont4 .games-list a {
  padding-left: 12px;
  height: 50px;
  top: 0px;
  margin-bottom: -1px;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
}

.section-content .cont4 .games-list a:hover {
  font-weight: bold;
}

.section-content .cont4 .games-label {
  background: none;
  border: none;
  border-radius: 5px;
  width: 100px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  width: 70%;
  top: 35px;
  left: -15px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(92, 92, 92);
  font-weight: 600;
}

.section-content .cont2 .program-list .program-lists {
  padding-top: 40px;
}

.section-content .cont2 .program-list {
  border-width: medium;
  border-color: black;
}

.section-content .cont2 .program-list .btn-program {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 17.5px;
}

.section-content .cont2 .program-list .btn-program button {
  font-size: 1rem;
  border-width: 0px;
  background: white;
  width: 65%;
  border-radius: 10px;
  color: rgb(92, 92, 92);
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  left: -75px;
  position: absolute;
}

.section-content .cont2 .program-list .program-content {
  margin-bottom: 0px;
  height: 120px;
  overflow: hidden;
  border-width: 0px;
  margin-bottom: -1px;
  border-radius: 1.5px;
  border-width: 1px;
}

.section-content .cont2 .program-list .program-list-content {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: -5px;
  margin-bottom: -15px;
  margin-right: -30px;
  height: 120px;
  width: 100%;
}

.section-content .cont2 .program-list .program-list-content .program-list-text {
  padding-left: 22%;
  margin-bottom: 0px;
}

.section-content
  .cont2
  .program-list
  .program-list-content
  .program-list-text
  i {
  font-weight: 500;
  font-size: 0.75rem;
  position: absolute;
}

.section-content
  .cont2
  .program-list
  .program-list-content
  .program-list-text
  sub {
  margin-left: 5px;
  font-weight: 500;
  font-size: 0.75rem;
}

.section-content
  .cont2
  .program-list
  .program-list-content
  .program-list-text
  button {
  position: absolute;
  right: 6px;
  bottom: 6px;
}

.section-content
  .cont2
  .program-list
  .program-list-content
  .program-list-image {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  top: 17.5px;
  position: absolute;
  margin-bottom: 0px;
  left: 29px;
}

.section-content
  .cont2
  .program-list
  .program-list-content
  .program-list-image
  img {
  margin-left: -20px;
  height: 80px;
  width: 80px;
  top: 0.5px;
}

.section-content .cont3 .games-list .games-list-group {
  padding-top: 40px;
}

.section-content .cont3 .games-list .btn-games {
  margin-top: 25px;
  margin-bottom: 17.5px;
  text-align: center;
}

.section-content .cont3 .games-list .btn-games button {
  font-size: 1rem;
  border-width: 0px;
  background: white;
  width: 65%;
  border-radius: 10px;
  color: rgb(92, 92, 92);
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  position: absolute;
  left: -90px;
}

.section-content .cont3 .games-list .games-content {
  margin-bottom: 0px;
  height: 120px;
  overflow: hidden;
  border-width: 0px;
  margin-bottom: -1px;
  border-radius: 1.5px;
  border-width: 1px;
}

.section-content .cont3 .games-list .games-list-content {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: -5px;
  margin-bottom: -15px;
  margin-right: -30px;
  height: 150px;
  width: 100%;
}

.section-content .cont3 .games-list .games-list-content .games-list-text {
  padding-left: 22%;
  margin-bottom: 0px;
}

.section-content .cont3 .games-list .games-list-content .games-list-text i {
  font-weight: 500;
  font-size: 0.75rem;
  position: absolute;
}

.section-content .cont3 .games-list .games-list-content .games-list-text sub {
  margin-left: 5px;
  font-weight: 500;
  font-size: 0.75rem;
}

.section-content
  .cont3
  .games-list
  .games-list-content
  .games-list-text
  button {
  position: absolute;
  right: 6px;
  bottom: 6px;
}

.section-content .cont3 .games-list .games-list-content .games-list-image {
  left: 30px;
  margin-top: 10px;
  position: absolute;
  margin-bottom: 0px;
}

.section-content .cont3 .games-list .games-list-content .games-list-image img {
  margin-left: -20px;
  height: 80px;
  width: 80px;
  top: -10px;
}

.section-content .cont3 .games-btn-more {
  position: absolute;
  margin-left: 75px;
  margin-top: 0px;
}

.section-content .cont2 .program-btn-more {
  position: absolute;
  margin-left: 75px;
  margin-top: 0px;
}

.section-app {
  background: #0173ef;
  margin-top: 120px;
}

.section-app .games-content {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-app .games-content .games-gard {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  height: 200px;
  width: 150px;
  background: white;
  border-radius: 0.5px;
}

.section-app .games-content .games-gard .games-image {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  top: 5px;
  padding-top: 0px;
  margin-bottom: 0px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.03),
    0 0 0 2px rgba(58, 58, 58, 0.993), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  height: 200px;
}

.section-app .games-content .games-gard .games-image img {
  display: inline-block;
  height: 200px;
  width: 150px;
}

.section-app .games-content .games-gard .games-image i {
  font-weight: 500;
  font-size: 0.75rem;
  color: grey;
  left: -35px;
  top: -22.5px;
  position: relative;
}

.section-app .games-content .games-gard:hover {
  transform: scale(1.1);
}

.section-app .games-content .next-more {
  position: relative;
  padding-left: 90%;
}

.section-app .games-content .next-more i {
  color: white;
  border-width: 30px;
  font-size: 3rem;
}

.section-app .games-content .next-more i:hover {
  transform: scale(1.5);
}
